[user]
        name = Drew Powers
        email = drew@pow.rs
[core]
        excludesfile = /Users/drew/.gitignore_global
[init]
        defaultBranch = main
[commit]
        gpgsign = true
        template = /Users/drew/.stCommitMsg
[push]
        autoSetupRemote = true
[filter "lfs"]
        clean = git-lfs clean -- %f
        smudge = git-lfs smudge -- %f
        process = git-lfs filter-process
        required = true
