
'.source.coffee':
  'Header':
    'prefix': 'ch'
    'body': """
      # **************************************
      #
      #   $1
      #   -> $2
      #
      # **************************************
      """
  'Long':
    'prefix': 'cl'
    'body': """
      # --------------------------------------
      #   $1
      # --------------------------------------
      """
  'Short':
    'prefix': 'cs'
    'body': """
      # ----- $1 ----- #
      """

'.source.js, .source.sass, .source.scss':
  'Header':
    'prefix': 'ch'
    'body': """
      // *************************************
      //
      //   $1
      //   -> $2
      //
      // *************************************
      """
  'Long':
    'prefix': 'cl'
    'body': """
      // -------------------------------------
      //   $1
      // -------------------------------------
      """
  'Short':
    'prefix': 'cs'
    'body': """
      // ----- $1 ----- //
      """
